<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>home</title>
<meta http-equiv="content-type" CONTENT="text/html; charset=UTF-8" />
</head>
<script src="js/jquery-3.6.0.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
	$("#listBtn").on("click", function() {
		$.get("/boards", function(data) {
			console.log(data);
			
			alert(JSON.stringify(data));
		});
	});
	
	$("#readBtn").on("click", function() {
		var boardno = $("#boardNo");
		var boardnoval = boardno.val();
		
		console.log(boardnoval);
		
		$.get("/boards/" + boardnoval, function(data) {
			console.log(data);
		
			alert(JSON.stringify(data));
		});
	});

	$("#registerBtn").on("click", function() {
		var title = $("#title");
		var content = $("#content");
		var writer = $("#writer");
		var titleVal = title.val();
		var contentVal = content.val();
		var writerVal = writer.val();
		
		var boardobject = {
			title : titleVal,
			content : contentVal,
			writer : writerVal
		};

		$.ajax({
			type : "POST",
			url : "/boards",
			data : JSON.stringify(boardobject),
			contentType : "application/json; charset=utf-8",
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			},
			error : function(request, status, error) {
				alert("code:" + request.status + "\n"
					+ "message:" + request.responsetext
					+ "\n" + "error:" + error);
			}
		});
	});


	$("#deleteBtn").on("click", function() {
		var boardno = $("#boardNo");
		var boardnoVal = boardno.val();
		
		console.log(boardnoVal);
		
		$.ajax({
			type : "DELETE",
			url : "/boards/" + boardnoVal,
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			}
		});
	});

	$("#putBtn").on("click", function() {
		var boardno = $("#boardNo");
		var title = $("#title");
		var content = $("#content");
		var writer = $("#writer");
		
		var boardNoVal = boardno.val();
		var titleVal = title.val();
		var contentVal = content.val();
		var writerVal = writer.val();
		
		var boardobject = {
				boardno : boardNoVal,
				title : titleVal,
				content : contentVal,
				writer : writerVal
			};

			$.ajax({
				type : "PUT",
				url : "/boards/" + boardNoVal,
				data : JSON.stringify(boardobject),
				contentType : "application/json; charset=UTF-8",
				success : function(result) {
					console.log("result: " + result);
					alert(result);
				}
			});
		});
	
	$("#patchBtn").on("click",function() {
		var boardno = $("#boardNo");
		var title = $("#title");
		var content = $("#content");
		var writer = $("#writer");
		
		var boardNoVal = boardno.val();
		var titleVal = title.val();
		var contentVal = content.val();
		var writerVal = writer.val();
		
		var boardobject = {
				boardno : boardNoVal,
				title : titleVal,
				content : contentVal,
				writer : writerVal
			};
		
		$.ajax({
			type : "PATCH",
			url : "/boards/" + boardnoVal,
			data : json.stringify(boardobject),
			contenttype : "application/json; charset=utf-8",
			success : function(result) {
				console.log("result: " + result);
				alert(result);
			}
		});
		
	});
	
	$("#putHeaederBtn").on("click", function() {
		var boardNo = $("#boardNo");
		var title = $("#title");
		var content = $("#content");
		var writer = $("#writer");
		
		var boardNoVal = boardNo.val();
		var titleVal = title.val();
		var contentVal = content.val();
		var writerVal = writer.val();
		
		var boardObject = {
			boardNo : boardNoVal,
			title : titleVal,
			content : contentVal,
			writer : writerVal
		}; 
		
		$.ajax({
			type : "PUT",
			url : "/boards/" + boardNoVal,
			headers : {
				"X-HTTP-Method-Override" : "PUT"
			},
			data : JSON.stringify(boardObject),
			contentType : "application/json; charset=UTF-8",
			success : function(result) {
				console.log("result:" + result);
				
				alert(result);
			}
		});
	});
	
	$("#postBtn").on("click",function(){
		var boardNo = $("#boardNo");
		var title = $("#title");
		var content = $("#content");
		var writer = $("#writer");
		
		var boardNoVal = boardNo.val();
		var titleVal = title.val();
		var contentVal = content.val();
		var writerVal = writer.val();
		
		var boardObject = {
			boardNo : boardNoVal,
			title : titleVal,
			content : contentVal,
			writer : writerVal
		}; 
		
		$.ajax({
		type : "POST",
		url:"/boards/" + boardNoVal,
		data:JSON.stringify(boardObject),
		contentType: "application/json; charset=UTF-8",
		success : function(result){
			console.log("result:" + result);
			
			alert(result); 
		}
		});
	});
	
		$("#putJsonBtn").on("click",function(){
		var boardNo = $("#boardNo");
		var title = $("#title");
		var content = $("#content");
		var writer = $("#writer");
		
		var boardNoVal = boardNo.val();
		var titleVal = title.val();
		var contentVal = content.val();
		var writerVal = writer.val();
		
		var boardObject = {
			boardNo : boardNoVal,
			title : titleVal,
			content : contentVal,
			writer : writerVal
		}; 
		
		$.ajax({
		type : "PUT",
		url:"/boards/" + boardNoVal,
		data:JSON.stringify(boardObject),
		contentType: "application/json; charset=UTF-8",
		success : function(result){
			console.log("result:" + result);
			
			alert(result); 
		}
		});
	});
	
		$("#putXmlBtn").on("click",function(){
		var boardNo = $("#boardNo");
		var title = $("#title");
		var content = $("#content");
		var writer = $("#writer");
		
		var boardNoVal = boardNo.val();
		var titleVal = title.val();
		var contentVal = content.val();
		var writerVal = writer.val();
		
		var xmlData="<Board>";
		xmlData += "<baordNo>0</baordNo>";
		xmlData += "<title>title</title>";
		xmlData += "<content>content1</content>";
		xmlData += "<writer>writer1</writer>";
		xmlData += "<regDate>2018-12-10</regDate>";
		xmlData += "</Board>";
		
		
		$.ajax({
		type : "PUT",
		url:"/boards/" + boardNoVal,
		data : xmlData,
		contentType: "application/xml; charset=UTF-8",
		success : function(result){
			console.log("result:" + result);
			
			alert(result); 
		}
		});
	});
	
		$("#getBtn").on("click",function(){
			var boardNo = $("#boardNo");
			var boardNoVal = boardNo.val();

			console.log(boardNoVal);
			
			$.get("/boards/" + boardNoVal, function (data) {
				console.log(data);
				
				alert(JSON.stringify(data));
			});
		});
		
			$("#getJsonBtn").on("click",function(){
			var boardNo = $("#boardNo");
			
			var boardNoVal = boardNo.val();
			
			$.ajax({
			type : "GET",
			url:"/boards/" + boardNoVal,
			<!-- 요청의 Accep 헤더 값을 "application/json"으로 지정한 -->
			headers : {
				"Accept" : "application/json"
			},
			success : function(result){
				console.log("result:" + result);
				
				alert(JSON.stringify(result)); 
			}
			});
		});
		
			$("#getXmlBtn").on("click",function(){
			var boardNo = $("#boardNo");
			var boardNoVal = boardNo.val();
			
			$.ajax({
			type : "GET",
			url:"/boards/" + boardNoVal,
			<!-- 요청의 Accep 헤더 값을 "application/json"으로 지정한 -->
			headers : {
				"Accept" : "application/xml"
			},
			success : function(result){
				console.log("result:" + result);
				
				alert(xmlToString(result)); 
			}
			});
		});
});

function xmlToString(xmlData) {
	var xmlString;
	
	if(window.activeXObject) {
		xmlString = xmlData.xml;
	} else {
		//수정필요 
		xmlString = (new XML.Serializer()).serializeToString(xmlData);
	}
	
	return xmlString;
}
	</script>

<body>
	<h1>Ajax Home</h1>
	<form>
		boardNo: <input type="text" name="boardNo" value="" id="boardNo"><br>
		title: <input type="text" name="title" value="" id="title"><br>
		content: <input type="text" name="content" value="" id="content"><br>
		writer: <input type="text" name="writer" value="" id="writer"><br>
	</form>
	<div>
		<button id="listBtn">LIST</button>
		<button id="readBtn">READ</button>
		<button id="registerBtn">REGISTER</button>
		<button id="deleteBtn">DELETE</button>
		<button id="putBtn">MODIFY</button>
		<button id="putHeaederBtn">MODIFY(put with header)</button>
	</div>
	<div>
		<button id="postBtn">MODIFY(post)</button>
		<button id="putJsonBtn">MODIFY(put json)</button>
		<button id="putXmlBtn">MODIFY(put xml)</button>
	</div>
	<div>
		<button id="getBtn">READ</button>
		<button id="getJsonBtn">READ(put json)</button>
		<button id="getXmlBtn">READ(put xml)</button>
	</div>
</body>
</html>













