<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>home</title>
<meta http-equiv="content-type" CONTENT="text/html; charset=UTF-8" />
</head>
<script src="js/jquery-3.6.0.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
	$("#listBtn").on("click", function() {
		$.get("/boards", function(data) {
			console.log(data);
			
			alert(JSON.stringify(data));
		});
	});
	
	$("#readBtn").on("click", function() {
		var boardno = $("#boardNo");
		var boardnoval = boardno.val();
		
		console.log(boardnoval);
		
		$.get("/boards/" + boardnoval, function(data) {
			console.log(data);
		
			alert(JSON.stringify(data));
		});
	});

	$("#registerBtn").on("click", function() {
		var title = $("#title");
		var content = $("#content");
		var writer = $("#writer");
		var titleVal = title.val();
		var contentVal = content.val();
		var writerVal = writer.val();
		
		var boardobject = {
			title : titleVal,
			content : contentVal,
			writer : writerVal
		};

		$.ajax({
			type : "POST",
			url : "/boards",
			data : json.stringify(boardobject),
			contenttype : "application/json; charset=utf-8",
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			},
			error : function(request, status, error) {
				alert("code:" + request.status + "\n"
					+ "message:" + request.responsetext
					+ "\n" + "error:" + error);
			}
		});
	});


	$("#deleteBtn").on("click", function() {
		var boardno = $("#boardNo");
		var boardnoVal = boardno.val();
		
		console.log(boardnoval);
		
		$.ajax({
			type : "DELETE",
			url : "/boards/" + boardnoVal,
			success : function(result) {
				console.log("result: " + result);
				
				alert(result);
			}
		});
	});

	$("#putBtn").on("click", function() {
		var boardno = $("#boardNo");
		var title = $("#title");
		var content = $("#content");
		var writer = $("#writer");
		
		var boardNoVal = boardno.val();
		var titleVal = title.val();
		var contentVal = content.val();
		var writerVal = writer.val();
		
		var boardobject = {
				boardno : boardNoVal,
				title : titleVal,
				content : contentVal,
				writer : writerVal
			};

			$.ajax({
				type : "PUT",
				url : "/boards/" + boardNoVal,
				data : json.stringify(boardobject),
				contenttype : "application/json; charset=utf-8",
				success : function(result) {
					console.log("result: " + result);
					alert(result);
				}
			});
		});
	});
	
	$("#patchBtn").on("click",function() {
		var boardno = $("#boardNo");
		var title = $("#title");
		var content = $("#content");
		var writer = $("#writer");
		
		var boardNoVal = boardno.val();
		var titleVal = title.val();
		var contentVal = content.val();
		var writerVal = writer.val();
		
		var boardobject = {
				boardno : boardNoVal,
				title : titleVal,
				content : contentVal,
				writer : writerVal
			};
		
		$.ajax({
			type : "PATCH",
			url : "/boards/" + boardnoVal,
			data : json.stringify(boardobject),
			contenttype : "application/json; charset=utf-8",
			success : function(result) {
				console.log("result: " + result);
				alert(result);
			}
		});
		
	});
	</script>

<body>
	<h1>Ajax Home</h1>
	<form>
		boardNo: <input type="text" name="boardNo" value="" id="boardNo"><br>
		title: <input type="text" name="title" value="" id="title"><br>
		content: <input type="text" name="content" value="" id="content"><br>
		writer: <input type="text" name="writer" value="" id="writer"><br>
	</form>
	<div>
		<button id="listBtn">LIST</button>
		<button id="readBtn">READ</button>
		<button id="registerBtn">REGISTER</button>
		<button id="deleteBtn">DELETE</button>
		<button id="putBtn">MODIFY</button>
	</div>
</body>
</html>













